<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
        body{
        margin-top: unset !important;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/article.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/next.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'blog/img/favicon.ico' %}"/>
    {% if title %}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
</head>
<body>

<main>
    <div class="nav">
        <div class="menu">
            <a class="website-text-logo" href="{% url 'blog_home' %}" title="部落格">
                <i class="fa fa-home"></i>
            </a>
            <a class="website-text-logo" href="{% url 'blog_about' %}" title="關於作者">
                <i class="fa fa-user"></i>
            </a>
        </div>
        <div class="cus-menu">
            {% if user.is_authenticated %}
            <a class="website-text-logo" href="{% url 'profile' %}" title="個人資料">
                <i class="fa fa-address-card"></i>
            </a>
            <a class="website-text-logo" href="{% url 'logout' %}" title="登出">
                <i class="fa fa-sign-out"></i>
            </a>
            {% else %}
            <a class="website-text-logo" href="{% url 'register' %}" title="註冊(不開放)">
                <i class="fa fa-pencil-square-o"></i>
            </a>
            <a class="website-text-logo" href="{% url 'login' %}" title="登入">
                <i class="fa fa-sign-in"></i>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="content">
        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="side">

    </div>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type='text/javascript' src="{% static 'blog/js/jquery.tipsy.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/tipsy.css' %}">
<script>
    $('.website-text-logo').tipsy({gravity: 'w',html: true });
</script>
</body>
</html>